.wrapper {
    z-index: 999;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    height: 100%;
    width: 100%;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 30%;
    height: 100%;
    transition: .5s;
    transform: translateX(-100%);
    background-color: #FFFFFF;
}

.sidebar.open {
    transform: translateX(0%);

}

.background {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: #000;
    opacity: 0.5;
    z-index: 0;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 30%;

}

.nav a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.nav a:hover {
    color: #58ACFF;
}

.nav a.active {
    color: #0059B2;
}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    background-color: #FFFFFF;
}

.close img {
}
