.answer {
    display: flex;
    background-color: mediumspringgreen;
    width: 250px;
    margin: 10px;
}

.triangle {
    width: 0;
    height: 0;
    border-bottom: 10px solid darkslategray;
    border-left: 10px solid transparent;
    margin-top: 68px;
}

.answer img {
    width: 30px;
    border-radius: 50%;
    margin: 40px 5px 5px 5px;
}

.textarea {
    background-color: darkslategray;
    margin: 5px 5px 5px 0px;
    padding: 5px;
    border-radius: 5px 5px 5px 0px;
    width: 180px;
}

.name {
    color: mediumorchid;
}

.message {
    color: aquamarine;
}

.time {
    color: darkblue;
    text-align: right;
}