.row {
    width: 100px;
    text-align: center;
}

.row button {
    background-color: cadetblue;
    border-radius: 5px;
    border: 1px solid aquamarine;
}

.filterButtons {
    margin-left: 50px;
}

.activeFilter {
    background-color: aqua;
    border: 1px solid grey;
    border-radius: 5px;
}