.sendForm {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.textarea {
    text-align: center;
    width: 70%;
    min-height: 40px;

    background: #F5F7FB;
    box-shadow: 0 5px 20px rgba(29, 33, 38, 0.03), 0 1px 2px rgba(29, 33, 38, 0.1);
    border-radius: 20px;
}

.button {
    color: white;
    width: 90px;
    height: 40px;

    background: #0066CC;
    border-radius: 20px;
    border: none;
}

.button:hover {

}

.button:active {

}
